<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo_pagina %}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/flat-remix.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body style="padding-bottom:60px;">
        <header class="Titulo">
            <h1 style="padding-left: 20px;">Crypto Management</h1>
        </header>
        <section class="contenedor">
            <nav style="background-image: none;">
                {% block Links %}{%endblock%}
            </nav>
            {% block contenido %}{% endblock %} 
        </section>
        <footer class="foot">
            <p style="background-image: none;">&copy; 2021 - Todos los derechos reservados</p> 
        </footer>
    </body>
</html>