{% extends "base.html" %}

{% block titulo_pagina %} Crypto Movements {% endblock %}
{% block Links %} <a href="/" class = "Links" style="margin-left: 15px;">Movimientos</a> | <a href="/purchase" class="Links">Compra/Venta</a> | <a href="/status" class="Links">Status</a> | <p class="Links">Wallet</p>{% endblock %} 

{% block contenido %} 
    <h1 class="Pagina">Visualizacion de Cryptos</h1>
    {% if items | length == 0 %}
        <p >Introduce Nuevos Movimientos</p>
    {%else%}
        <table class = "tabla">
            <tr>
                {%for item in obj%}
                <th class = "tabla">{{item}}</th>
                {%endfor%}
            </tr>
            {%for item in items%}
            <tr>
                <td class = "tabla">{{item.Moneda}}</td>
                <td class = "tabla">{{item.Cantidad}}</td>
                <td class = "tabla">{{item.Valor}}</td>
            </tr>
            {%endfor%}
        </table>
    {%endif%}
{% endblock %}