{% extends "base.html" %}

{% block titulo_pagina %} Crypto Movements {% endblock %}
{% block Links %} <a href="/" class = "Links">Movimientos</a> | <a href="/purchase" class="Links">Compra/Venta</a> | <a href="/status">Status</a> | <p class="Links">Wallet</p>{% endblock %} 

{% block contenido %} 
    <h1 class= "Titulo">Visualizacion de cryptos</h1>
    {% if items | length == 0 %}
        <p class="SubTitulo">Introduce Nuevos Movimientos</p>
    {%else%}
        <table style="margin-left: 700px;">
            <tr>
                {%for item in obj%}
                <th class="Header_tabla" style="border-top-width: 2px; border-top-style: solid;">{{item}}</th>
                {%endfor%}
            </tr>
            {%for item in items%}
            <tr>
                <td class="tabla2" style="border-left-style: solid; border-left-width: 1px;">{{item.Moneda}}</td>
                <td class="tabla2">{{item.Cantidad}}</td>
                <td class="tabla2"style="border-right-style: solid; border-right-width: 1px;">{{item.Valor}}</td>
            </tr>
            {%endfor%}
        </table>
    {%endif%}
{% endblock %}