{% extends "base.html" %}


{% block titulo_pagina %} Exchange {% endblock %}

{% block Links %} <a href="/" class = "Links">Movimientos</a> | <p class = "Links">Compra/Venta</p> | <a href="/status">Status</a> {% endblock %}

{% block contenido %}
    <h1 class= "Titulo">Compra y Venta de Crypto</h1>
    {% for error in errores %}
      <p class="Error"> {{error}} </p>
    {% endfor %}

    <form action="/purchase" method="post">
      
        <div class="MonedaFrom">
            <label for="MonedaFROM">From: </label>
            <select name="From" id="From" >
              {% for symbol in symbols %}
                <option {{'selected="selected"' if symbol['selected'] else ''}}>
                  {{symbol["symbol"]}}
                </option>
              {% endfor %}
            </select>
        </div>

        <div class = "MonedaTO">
            <label for="MonedaTO">To: </label>
            <select name="To" id="To">
              {% for symbol in symbols2 %}
                <option {{'selected="selected"' if symbol['selected'] else ''}}>
                  {{symbol["symbol"]}}
                </option>
              {% endfor %}
            </select>
        </div>
                
        <div class = "Amount">
            <label for="Amount">Cantidad: </label>
            <input type="text" name="cantidad" id="cantidad"  style="padding-left: 7px ; padding-right: 0px;" value= {{form.cantidad}}>
            <p class="Recibido">Recibido: {{Cantidad}}</p>
            <div>
              <p class="Recibido" style="margin-left: 375px;">Precio Unit: {{PrecioU}}</p>
            </div>

        </div>
        <input class="blue-button" type="submit" name= "Envio" value="Calcular" style="margin-left:1125px;">
        <input class="blue-button" type="submit" name= "Envio" value="Enviar" style="margin-left:1125px;">


      </form>

    
{% endblock %}