{% extends "base.html" %}

{% block titulo_pagina %} Status {% endblock%}
{% block Links %} <a href="/" class = "Links" style="margin-left: 15px;">Movimientos</a> | <a href="/purchase" class="Links">Compra/Venta</a> | <p class="Links">Status</p> | <a href="/overview" class="Links">Wallet</a> {% endblock %}

{%block contenido%} 
    <h1 class= "Titulo">Inversiones y Cuentas</h1>
    <div>
        <p class = "Inversiones" style="margin-left:650px">Inversión: </p> <p class = "Pruebas">{{inversion}} €</p>
    </div>
    <div>
        <p class = "Inversiones" style="margin-left: 650px;">Ganancia: </p><p class = "Pruebas">{{ganancia}} €</p>
    </div>

    <p class = "Inversiones" style="margin-left: 688px;">Saldo: </p><p class = "Pruebas">{{saldo}} €</p>
    
    <div>
        <p class = "Inversiones" style="margin-left: 578px;">Valor de Cryptos: </p><p class = "Pruebas" >{{valorcrypto}} €</p>
    </div>
    <div >
        <p class = "Inversiones" style="margin-left: 430px;">Valor Actual (Incluidas cryptos): </p><p class = "Pruebas" >{{valortotal}} €</p>
    </div>


{%endblock%}