{% extends "base.html" %}

{% block titulo_pagina %} Status {% endblock%}
{% block Links %} <a href="/" class = "Links">Movimientos</a> | <a href="/purchase" class="Links">Compra/Venta</a> | <p class="Links">Status</p> {% endblock %}

{%block contenido%} 
    <h1 class= "Titulo">Inversiones y Cuentas</h1>
    <div>
        <p class = "Colocado" style="margin-left:650px">Inversión: </p> <p class = "Colocado" style="margin-left: 10px;"> €</p>
    </div>
    <div>
        <p class = "Colocado" style="margin-left: 650px;">Ganancia: </p><p class = "Colocado" style="margin-left: 10px;"> €</p>
    </div>

    <p class = "Colocado" style="margin-left: 688px;">Saldo: </p><p class = "Colocado" style="margin-left: 10px;"> €</p>
    
    <div>
        <p class = "Colocado" style="margin-left: 578px;">Valor de Cryptos: </p><p class = "Colocado" style="margin-left: 10px;"> €</p>
    </div>
    <div >
        <p class = "Colocado" style="margin-left: 440px;">Saldo Total (Incluidas cryptos): </p><p class = "Colocado" style="margin-left: 10px;"> €</p>
    </div>


{%endblock%}