{% extends "base.html" %}

{% block titulo_pagina %} Status {% endblock%}
{% block Links %} <a href="/" class = "Links" style="margin-left: 15px;">Movimientos</a> | <a href="/purchase" class="Links">Compra/Venta</a> | <p class="Links">Status</p> | <a href="/overview" class="Links">Wallet</a> {% endblock %}

{%block contenido%} 
    <h1 class= "Pagina">Inversiones y Cuentas</h1>
    <div class="paper">
        <div class="Background">
            <p class = "Inversiones" >Inversión: </p> <p class="Inversiones">{{inversion}} €</p>
        </div>

        <div class="Background">
            <p class = "Inversiones" >Ganancia: </p><p class = "Inversiones">{{ganancia}} €</p>
        </div>
        <div class="Background">
            <p class = "Inversiones">Saldo: </p><p class = "Inversiones">{{saldo}} €</p>
        </div>
        
        <div class="Background">
            <p class = "Inversiones">Valor de Cryptos: </p><p class = "Inversiones" >{{valorcrypto}} €</p>
        </div>

        <div class="Background">
            <p class = "Inversiones" >Saldo Total (Incluidas cryptos): </p><p class = "Inversiones" >{{valortotal}} €</p>
        </div>
    </div>

{%endblock%}